* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.glass-card {
  background: var(--ui-glasscard-bg);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid var(--ui-glasscard-border);
  border-radius: 16px;
  box-shadow: var(--ui-glasscard-shadow);
  transition: .3s ease;
  padding: 30px;
}

.glass-card:hover {
  box-shadow: var(--ui-glasscard-shadow-hover);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  /* For older WebKit browsers */
  user-select: none;
  /* Prevents text selection which often accompanies dragging */
  -moz-user-select: none;
  /* For Firefox */
}

.button {
  transition: transform .2s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(.9);
}

.text-apply {
  letter-spacing: -0.01em;
  -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: black;
  color: white;
}

.title-text {
  text-shadow: 0.375vh 0.375vh 0vh rgba(0, 0, 0, 0.3);
}

.gold-text {
  background: -webkit-linear-gradient(#FDA00C, #FFE348);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}